<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
    <link rel= "short.icon" href = "{% static 'imagenes/logo.PNG'%}"></link>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link href= "{% static 'Css/getionPlanmtilla.css'%}"> </link>
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-success">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">CIDENET</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Actualizacion</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <dir class="container">
        <div class = 'row'>
            <div class = 'col-md-4 offset-md-4'>
              <span id="passwordHelpInline" class="form-text">
                <h6> El formulario solo admite letras Mayusculas sin acentos la letras Ñ sera remplazada por la letra N </h6>
              </span>
                <form method = "POST"  action="/EditarEmpleado/">
                    {% csrf_token %}
                    <input type="hidden" value = "{{Lista.id}}" name = "Id">
                <div class="mb-3">
                    <label class="form-label">Primer Nombre</label>
                    <input type="text" value ="{{Lista.PrimerNombre}}" id="textNombre" class="form-control" name="APrimerNombre" minlength="3" maxlength="20" requied autofocus pattern = "[A-Z]+">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Primer Apellido</label>
                    <input type="text"id = "textApellido" class="form-control"  value ="{{Lista.PrimerApellido}}" name="APrimerApellido"  minlength="3" maxlength="20"requied autofocus pattern = "[A-Z]+">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Segundo Nombre</label>
                    <input type="text" id="Otro" class="form-control" value ="{{Lista.OtrosNombres}}" name="AOtroNombre"  maxlength="50" requied autofocus pattern = "[A-Z]+">
                  </div>
                  <div class="mb-3">
                    <label  class="form-label">Seleccione pais a laborar </label>
                  </div>
                  <select name ="AOpcion" class="form-select" value ="{{Lista.PaisEmpleo}}">
                    <option value="Colombia">Colombia</option>
                    <option value="Estados_Unidos">Estados Unidos</option>
                  </select>
                  <label class="form-label"><h6>Correo electronico asignado "{{Lista.Correo}}"</h6></label>
                  <label class="form-label"><h6>Numero de identificaion asignado"{{Lista.id}}"</h6></label>
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-success" type="submit">Guardar</button>
                    <button class="btn btn-danger" type="close" >Cancelar</button>
                  </div>
            </div>
        </form>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    <script src="{% static 'Java/gestionRequisitos.js'%}"> </script>
</body>
</html>